<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenentoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C6F769F1DD311A600403A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6F76B81DD311A600403A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6F76C31DD311A600403A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
